.aerialViewContainer
  position absolute
  left 0
  top 0
  right 0
  bottom 0
  background-size cover
  background-position center center
  background-attachment fixed
  .view  
    position absolute
    left 0
    top 0
    right 0
    bottom 0
    background-size cover
    background-position center center
    background-attachment fixed
    transition all 1s ease-out
  .arialClean
    background-image url(../images/clean_small.jpg)
  .arialOverstorts
    background-image url(../images/overstorts_small.jpg)
  .arialRzwi
    background-image url(../images/rzwi_small.jpg)
  .arialSpui
    background-image url(../images/spui_small.jpg)
  .arialAgri
    background-image url(../images/agri_small.jpg)
  .arialAll
    background-image url(../images/aerial_all_small.jpg)

#systeem
  .systeemNav
    position absolute
    z-index 6666
    right 4%
    bottom 4%
    background rgba(white, .9)
    color darkgrey
    width 100%
    max-width 35em
    ul
      li
        display inline-block
        padding 0 tiny-percentage
        cursor pointer
        font-family 'Montserrat', sans-serif
        text-transform uppercase   
        font-size .875em
        background-color #f15a22
        color white
        padding 4px
        margin 2px 3px
        border-radius 4px
        user-select none
    h6
      font-family 'Open Sans', sans-serif, arial
      text-align center
      margin-bottom 0
      color brand-color

.infoView
  visibility hidden
  height 0
  width 0
  padding 0
  opacity 0
  transition visibility 0s ease-out, opacity .5s ease-out

.arialOverstorts
  #arialOverstortsText
    visibility visible
    transform-origin left bottom
    height auto
    width auto
    padding tiny-percentage
    opacity 1
    
.arialRzwi
  #arialRzwiText
    visibility visible
    height auto
    width auto
    padding tiny-percentage
    opacity 1
    
.arialSpui
  #arialSpuiText
    visibility visible
    height auto
    width auto
    padding tiny-percentage
    opacity 1
    
.arialAgri
  #arialAgriText
    visibility visible
    height auto
    width auto
    padding tiny-percentage
    opacity 1
    
.arialAll
  #arialAllText
    visibility visible
    height auto
    width auto
    padding tiny-percentage
    opacity 1
    
