.aerialViewContainer
  position absolute
  left 0
  top 0
  right 0
  bottom 0
  background-size cover
  background-position center center
  background-attachment fixed
  .view  
    position absolute
    left 0
    top 0
    right 0
    bottom 0
    background-size cover
    background-position center center
    background-attachment fixed
    transition all 1s ease-out
  .arialClean
    background-image url(../images/clean_small.jpg)
  .arialOverstorts
    background-image url(../images/overstorts_small.jpg)
  .arialRzwi
    background-image url(../images/rzwi_small.jpg)
  .arialSpui
    background-image url(../images/spui_small.jpg)
  .arialAgri
    background-image url(../images/agri_small.jpg)
  .arialAll
    background-image url(../images/aerial_all_small.jpg)

#systeem
  .systeemNav
    position absolute
    z-index 6666
    left 0
    bottom 0
    padding tiny-percentage
    background rgba(white, .98)
    color secondary
    ul
      li
        display inline
        padding 0 medium-em
        cursor pointer