button, .btn
	color white
	background-color brand-color
	cursor pointer
	padding xsmall-em
	border-radius 1px
  display inline-block

.btn
	color white !important
	display inline-block
	text-decoration none !important

button:hover, .btn:hover
	opacity 0.8
  background-color dark-brand

input[type="submit"]
	color white
	background-color red
	cursor pointer
	padding medium-em
	border-radius 1px
  transition opacity 0.3s ease-in-out
	border none
	width auto !important