.logoCont
  a
    min-height 8em
    padding 8%
    display block
  img
    position absolute
    left 45%
    top 50%
    transform translate(-50%,-50%)
  &.fourth
  	margin-left 20%

 #team
 	margin-top -250px
 	p
 		margin 0
 	span.group
 		font-family MontSerrat, sans-serif
 		margin-right .5em