body, html, main
  height 100%
.one-col
  width 100%
  z-index 2
.two-col
  width 50%
  z-index 2
.three-col
  width 33.33%
  z-index 2
.three-col-two
  width 66.66%
  z-index 2
.four-col
  width 25%
  z-index 2
.four-col-three
  width 75%
  z-index 2
.five-col
  width 20%
  z-index 2
.loading
  overflow hidden
.loader
  position fixed
  width 100%
  height 100%
  background lightgrey
  top 0
  left 0
  z-index 9999
  overflow hidden
  transition all .2s linear
.page
  min-height 100%
  width 100%
  background-attachment fixed
  background-size cover
  background-color canvas
  overflow hidden
  
  svg
    max-width 100vw
    max-height 100vw
    width auto
    height auto
.page-1
  height: 100%
  .flowmap
    position absolute
    width 100%
    height 100%
    background rgb(0,30,58)
    top 0
    left 0
    z-index 0
.page-3
  background canvas
#doorsnede
  background-color lightgrey
.logo, .logo-drop
  width 20%
  position absolute
  left 50%
  top 55%
  transform translate(-50%, -50%)
  z-index 2
  
.loader .logo svg{
  fill brand-color
}
.logo svg
  fill canvas
  left 0
  top 0
  
.loader .logo  svg #stripe
  animation-name myOpacity
  animation-duration 15s
  animation-iteration-count infinite
  transform-origin left center
  transform: scale(0, 1)
  
@keyframes myOpacity {
  from {
    transform: scale(0, 1)
  }
  to {
    transform: scale(1, 1)
  }
}
.contaminator-container
  position absolute
  top 0
  left 0
  opacity 1
  overflow hidden

.contaminator
  position absolute

.contaminator.overloop
  background-color yellow
  border-radius 100%

.svgContainerRight
  padding 0 big-percentage*2 0 0
.svgContainerLeft
  padding 0 0 0 big-percentage*2

.full-height
  height 100%
  
img
  max-width 100%