@media  only  screen  and (max-width: 1280px)
  #waterkwaliteit
    background-color lightgrey
  .standard-padding
    padding 2%
  .bigger-padding
    padding 6%
  .page,
  .aerialViewContainer,
  .aerialViewContainer .view
    background-size cover !important
    background-attachment scroll !important
@media  only  screen  and (max-width: 940px)
  #stroming .box
    display none
  .four-col, 
  .four-col-three,
  .three-col-two,
  .three-col,
  .two-col,
  .svgContainer
    width 100%
    height auto
    position relative
    padding 0
  #intro .two-col
    margin 0
    
  main
    section
      padding 4%
  .bigger-padding, .medium-padding-top
    padding 4%
@media  only  screen  and (max-width: 680px)
  .four-col, .four-col-three
    width 100%
  .svgContainer
    width 100%
  #systeem
    .systeemNav
      max-width 100%
      left 0
      bottom 2%
@media  only  screen  and (max-width: 340px)
  #waterkwaliteit
    background-color red