@media  only  screen  and (max-width: 1280px)
  #waterkwaliteit
    background-color lightgrey
@media  only  screen  and (max-width: 940px)
  .four-col, 
  .four-col-three,
  .svgContainer
    width 100%
@media  only  screen  and (max-width: 680px)
  .four-col, .four-col-three
    width 100%
  .svgContainer
    width 100%
  #systeem
    .systeemNav
      max-width 100%
      left 0
      bottom 2%
@media  only  screen  and (max-width: 340px)
  #waterkwaliteit
    background-color red