.mainMenu
  position fixed
  width 100%
  margin 0
  z-index 8888
  background white
  ul
    width 100%
    text-align center
    padding 1em 0
    font-family 'Montserrat', sans-serif
    text-transform uppercase
  li
    display inline
    margin 0 .5em
  li
    a
      color darkgrey
      padding .2em
.subMenu
  position fixed
  background rgba(black, .3)
  width 100%
  z-index 8888
  ul
    width 100%
    text-align center
    padding .5em 0
  li
    display inline
    margin 0 .5em
  li
    a
      color canvas
      padding .2em