#menuContainer
  position fixed
  z-index 8888
  width 100%
  transition transform .25s ease-out
  border-bottom 1px solid lightgrey
  
.mainMenu
  width 100%
  margin 0
  background white
  ul
    width 100%
    text-align center
    padding 1em 0
    font-family 'Montserrat', sans-serif
    text-transform uppercase
  li
    display inline-block
    margin 0 .5em
  .liqSub
    display none
  .active
    display inline-block
    a
      color rgba(#6e8fa8, 1)
  li
    a
      color darkgrey
      padding .2em
    .active
      text-decoration underline
.subMenu
  position relative
  background rgba(secondary, .55)
  width 100%
  z-index 8888
  ul
    width 100%
    text-align center
    padding .5em 0
  li
    display inline-block
    margin 0 .5em
  li
    a
      color canvas
      padding .2em