#overstorten h1
  position absolute
  color yellow
  z-index 5
  margin 1em

#overstortenContainer
  position absolute
  width 100%
  height 100%
  background-color darken(secondary, 30%)
  left 0
  top 0
#overstortstatic
  background-image url(../images/overstorten_bg.jpg)