#riool
  background canvas
  .droogOverstort
    opacity 1
  .regenOverstort
    opacity 0
  .active
    opacity 1
  
.rioolNav
  margin-bottom medium-em
  li
    cursor pointer
    padding small-em
    color #F15A22
    border 2px solid #F15A22
    display inline-block
    margin 0 small-em small-em 0
    font-family 'Montserrat', sans-serif
    &:hover
      background-color #F15A22
      color canvas
  .active
    background-color #F15A22
    color canvas