#riool
  background canvas
  .droogOverstort
    opacity 1
  .regenOverstort
    opacity 0
  .active
    opacity 1
  
.rioolNav
  margin-bottom medium-em
  li
    cursor pointer
    padding small-em
    color call-to-action
    border 2px solid call-to-action
    display inline-block
    margin 0 small-em small-em 0
    font-family display-font
    &:hover
      background-color call-to-action
      color canvas
  .active
    background-color call-to-action
    color canvas