#stroming
  background-color red
#stroming-2
  background-color blue
.stromingView
  width 100%
  height 100%
  position absolute
  left 0
  top 0
  overflow hidden

#stromingRijn
  background-color blue
.stromingStory
  background darkgrey
  color white
  
#Layer_1 line, #Layer_1 path
  stroke-width 1px