.stromingView
  width 100%
  height 100%
  position absolute
  left 0
  top 0
  overflow hidden
#stromingCenter
  background-color brand-color
#stromingRijn
  background-color secondary
.stromingStory
  background white
  color black
  
#Layer_1 line, #Layer_1 path
  stroke-width 1px
  
#stromingCenter, #stromingRijn
  width 100%
  height 100%
  
.spui
  width 100%
  padding 50% 0
  .view
    position absolute
    left 0
    top 0
    height 100%
    width 100%
    background-size contain
    background-repeat no-repeat
    transition opacity .5s ease-out
  .laag
    background-image url(../images/spui_laag.jpg)
    opacity 1
    z-index 1
  .hoog
    background-image url(../images/spui_hoog.jpg)
    opacity 0
    z-index 2
  .active
    opacity 1    
#stromingFlowContainer
  background #004c73
  position absolute
  left 0
  top 0
  width 100%
  height 100%
  
#stroming
  .box
    height 100%
    position absolute
    left 0
    top 0
    z-index 3
    box-shadow 3px 3px 3px rgba(50,50,50, .3)
    
#doorsnede
  box-shadow 3px -3px 3px rgba(50,50,50, .3)
#overstortstatic .box
  box-shadow 3px 3px 3px rgba(50,50,50, .6)
  z-index 3