#achterland
  opacity .3
#landbouw
  opacity .3
#industrie
  opacity .3
#stedelijk
  opacity .3
#kust
  opacity .3

#icon-achterland
  
  opacity .3
  transition opacity .3s ease-out
  &:hover
    opacity 1
#icon-landbouw
  
  opacity .3
  transition opacity .3s ease-out
  &:hover
    opacity 1
#icon-industrie
  
  opacity .3
  transition opacity .3s ease-out
  &:hover
    opacity 1
#icon-stedelijk
  
  opacity .3
  transition opacity .3s ease-out
  &:hover
    opacity 1
#icon-kust
  
  opacity .3
  transition opacity .3s ease-out
  &:hover
    opacity 1
  
#icon-bacterien
  
  opacity .3
  transition opacity .3s ease-out
  &:hover
    opacity 1
#icon-drijfvuil
  opacity .3
  transition opacity .3s ease-out
  &:hover
    opacity 1
#icon-chemisch
  
  opacity .3
  transition opacity .3s ease-out
  &:hover
    opacity 1
#icon-zuurstof
  
  opacity .3
  transition opacity .3s ease-out
  &:hover
    opacity 1
#icon-nutrienten
  
  opacity .3
  transition opacity .3s ease-out
  &:hover
    opacity 1
#icon-sediment
  
  opacity .3
  transition opacity .3s ease-out
  &:hover
    opacity 1
    
.qualityContainer
  .active
    transition opacity .3s ease-out;
    opacity 1 !important
    
.clickable
  cursor pointer
    
#qualityTextContainer
  h2
    color rgb(241, 90, 34)
  div
    visibility hidden
    width 0
    height 0
    transition opacity .3s ease-out
    opacity 0
#qualityTextContainer
  .active
    visibility visible
    width auto
    height auto
    opacity 1
    
.groundUse
  color darkgrey !important
#kwaliteit 
  [id^="icon-"],
  [id*=" icon-"]
    circle
      fill transparent