#achterland
  opacity .5
#landbouw
  opacity .5
#industrie
  opacity .5
#stedelijk
  opacity .5
#kust
  opacity .5
  
#icon-achterland
  
  opacity .5
  transition opacity .3s ease-out
  &:hover
    opacity 1
#icon-landbouw
  
  opacity .5
  transition opacity .3s ease-out
  &:hover
    opacity 1
#icon-industrie
  
  opacity .5
  transition opacity .3s ease-out
  &:hover
    opacity 1
#icon-stedelijk
  
  opacity .5
  transition opacity .3s ease-out
  &:hover
    opacity 1
#icon-kust
  
  opacity .5
  transition opacity .3s ease-out
  &:hover
    opacity 1
  
#icon-bacterien
  
  opacity .5
  transition opacity .3s ease-out
  &:hover
    opacity 1
#icon-drijfvuil
  
  opacity .5
  transition opacity .3s ease-out
  &:hover
    opacity 1
#icon-chemisch
  
  opacity .5
  transition opacity .3s ease-out
  &:hover
    opacity 1
#icon-zuurstof
  
  opacity .5
  transition opacity .3s ease-out
  &:hover
    opacity 1
#icon-nutrienten
  
  opacity .5
  transition opacity .3s ease-out
  &:hover
    opacity 1
#icon-sediment
  
  opacity .5
  transition opacity .3s ease-out
  &:hover
    opacity 1
    
.qualityContainer
  .active
    transition opacity .5s ease-out;
    opacity 1 !important
    
.clickable
  cursor pointer