darkGrey = #333333
background-color = white
sec-brand-color = #0c0633
brand-color = #004261 
secondary-brand-color = rgb(50,58,69)
orange = rgb(255,171,84)
dark-brand = red
purple = rgb(173,107,130)
lightgrey = rgb(237,235,235)
mediumgrey = rgb(102,102,102)
darkgrey = rgb(50,50,50)
defaultLinkColor = #17BA9B
canvas = white
canvas-vivid = white
canvas-hard = white
canvas-soft = #eee
canvas-dim = #ddd
content = #000
feature = blue
primary = navy
secondary = darken( brand-color, 20% )
glow = rgba(255,255,255,.6)
shade = rgba(0,0,0,.4)

body
  background lightgrey
.white-text
  color white