section#biodiversiteit.page.left.bigger-padding
  .three-col.left.standard-padding
    h1 Biodiversiteit
    p.
      Zijn de grachten nu schoon? De afgelopen decennia is door een hele reeks gebeurtenissen de waterkwaliteit verbeterd in het stroomgebied van de Rijn en in Amsterdam. Van internationale lozingsverdragen tot het verplaatsen van rioolwater zuiveringsinstallaties tot het aansluiten van woonboten op het riool.
    p.
      Metingen in de Rijn aan de grens van Nederland tonen toegevoegde zuurstof waardes en een toename in biodiversiteit, die in de jare ‘70 een diepte punt behaalde.
    p.
      Deze nieuwe condities bieden nieuwe kansen, maar ook verantwoordelijkheden om de positieve tendens door te zetten en gebruiken te behouden. 
  .three-col-two.right
    include ../images/graph.svg