section#biodiversiteit.page.left.bigger-padding
  .three-col.left.standard-padding
    h1 Waterkwaliteit
    p.
      De afgelopen decennia is door een hele reeks maatregelen de waterkwaliteit verbeterd in het stroomgebied van de Rijn en dus ook van het oppervlakte water van Amsterdam. Dit zijn de verdiensten van een hele hoop acties op verschillende schalen zoals internationale lozingsverdragen, het verplaatsen van rioolwater zuiveringsinstallaties buiten de stad en het aansluiten van woonboten op het riool. Zijn de grachten nu schoon?
    p.
      Metingen in de Rijn aan de grens van Nederland tonen toenemende zuurstof waardes en biodiversiteit sinds eind jaren ’70. Deze nieuwe condities bieden nieuwe kansen, maar ook de uitdaging en verantwoordelijkheid deze positieve tendens voort te zetten. 
  .three-col-two.right
    include ../images/graph.svg