section#contact.page.left.bigger-padding
  .three-col.small-padding.left
    h1 Contact
    p.
      Voor de zomer van 2016 zoeken we plekken om onze vlonders te lanceren. Per locatie gaan we hiervoor allianties met buurtbewoners, ondernemers, instanties en stadsdelen opzetten om vlonders te realiseren door heel Amsterdam.
    p.
      Wil jij ook een Amsterdeck bij jouw in de buurt? Neem contact met ons op!
    a(href="mailto:info@amsterdecks.com").
      info@amsterdecks.com
  .three-col-two.small-padding.left
    h1 Partners
    p.
      Liquid Commons en Amsterdecks zijn gemaakt door Rademacher de Vries Architecten, De Waag Society en Waternet met subsidie van Stichting DOEN en het Stimuleringsfonds Creatieve Industrie. Alle rechten voorbehouden.