section#contact.page.left.bigger-padding
  .three-col-two.medium-padding.left
    h1 Partners
    p.
      Liquid Commons en Amsterdecks zijn gemaakt door Rademacher de Vries Architecten, De Waag Society en Waternet met subsidie van Stichting DOEN en het Stimuleringsfonds Creatieve Industrie. Alle rechten voorbehouden.
    .three-col.left.logoCont
      a(href="http://www.stimuleringsfonds.nl")
        img(src="public/images/simtuleringsfonds.svg")
    .three-col.left.logoCont
      a(href="https://www.waternet.nl/")
        img(src="public/images/waternet.svg")
    .three-col.left.logoCont
      a(href="http://www.rademacherdevries.com/")
        img(src="public/images/rdva.svg")
    .three-col.left.logoCont
      a(href="http://www.waag.org/")
        img(src="public/images/waag.svg")
  .three-col.medium-padding.left
    h1 Contact
    p.
      Voor de zomer van 2016 zoeken we plekken om onze vlonders te lanceren. Per locatie gaan we hiervoor allianties met buurtbewoners, ondernemers, instanties en stadsdelen opzetten om vlonders te realiseren door heel Amsterdam.
    p.
      Wilt u een Amsterdeck bij u in de buurt? Neem contact met ons op!
    a.btn.btn-1.btn-1a(href="mailto:info@amsterdecks.com").
      Stuur een e-mail