section#contact.page.left.bigger-padding
  .three-col-two.medium-padding.left
    h1 Partners
    p.
      Liquid Commons en Amsterdecks zijn gemaakt door Rademacher de Vries Architecten, De Waag Society en Waternet met subsidie van Stichting DOEN en het Stimuleringsfonds Creatieve Industrie. Alle rechten voorbehouden.
    .three-col.left.logoCont
      a(href="http://www.rademacherdevries.com/")
        img(src="public/images/rdva.svg")
    .three-col.left.logoCont
      a(href="http://www.waag.org/")
        img(src="public/images/waag.svg")
    .three-col.left.logoCont
      a(href="https://www.waternet.nl/")
        img(src="public/images/waternet.svg")
    .three-col.left.logoCont.fourth
      a(href="http://www.stimuleringsfonds.nl")
        img(src="public/images/simtuleringsfonds.svg")
    .three-col.left.logoCont
      a(href="http://www.doen.nl")
        img(src="public/images/stichtingdoen.svg")
  .three-col.medium-padding.left
    h1 Contact
    p.
      De essentie van een duurzame Liquid Commons is een brede maatschappelijke participatie. In 2016 beginnen we met de aanleg van Amsterdecks en zoeken daarom allianties en samenwerkingsverbanden door heel Amsterdam.
    p.
      Wij nodigen buurtbewoners, beleidsmakers, investeerders, ondernemers en iedereen die wil bijdragen aan het project uit om contact op te nemen en te participeren aan een schone en duurzame toekomst voor Amsterdam.
    p.
      Wilt u een Amsterdeck bij u in de buurt? Neem contact met ons op!
    a.btn.btn-1.btn-1a(href="mailto:info@amsterdecks.com").
      Stuur een e-mail
  .three-col-two.medium-padding.left
    #team
      h1 Team
      p
        span.group RDVA:
        span Christopher de Vries, David Rademacher
      p
        span.group Waag Society:
        span Tom Demeyer, Job Spierings, Martin Riseeuw, Ivo de Kler
      p
        span.group Waternet:
        span Hans van der Pal, Maarten Ouboter, Jan Willem Voort, Eljakim Koopman, Thomas Stavermans, Kees van der Lugt