section#doorsnede.left.medium-padding-top
  .four-col-three.left
    #doorsnedeContainer.doorsnedeContainer
      .view.droog-opwoeling
      .view.droog-woonboot
      .view.rain
      .view.rain-overstort
      .view.rain-uitspoeling
      .view.droog
  .four-col.left.small-padding-side
    ul.doorsnedeNav
      li.doorsnede-button.active(data-name="droog") Droog
      li.doorsnede-button(data-name="droog-opwoeling" data-showit="#opwoeling-story") Opwoeling
      li.doorsnede-button(data-name="droog-woonboot" data-showit="#woonboot-story") Woonboot
      li.doorsnede-button(data-name="rain") Regen
      li.doorsnede-button(data-name="rain-overstort" data-showit="#overstort-story") Overstort
      li.doorsnede-button(data-name="rain-uitspoeling" data-showit="#uitspoeling-story") Uitspoeling
    h1 Stadsdoorsnede
    p.
      Doorgaans gaan we er van uit dat de stad functioneert. Pas als het mis gaat, worden kritische vragen gesteld. Gelukkig hebben we in Nederland, en met name in Amsterdam, een zeer hoge standaard als het gaat om watermanagement. Deze stadsdoorsnede toont wat normaal onzichtbaar is.
    
    .doorsnede-text-container
      #overstort-story.text-view
        h1 Overstort
        p.
          In het plaatje is een overstortriool met een geel deksel afgebeeld. De overstorten vinden plaats bij een put waar verschillende riolen op aansluiten. De overstort werkt met een drempel; bij geen of normale regenval word de drempel niet overschreden en gaat al het water naar de zuivering. Wanneer het hard regent stijgt het peil binnen het stelsel en loop het water over de drempel. Hier bezinken eerst de zware delen waarna de rest de grachten in stroomt. Dit gebeurt onder de waterspiegel.
      #woonboot-story.text-view.active
        h1 Woonboten
        p.
          Lange tijd loosden woonboten direct op de grachten. De afgelopen jaren is actief beleid gevoerd om deze te koppelen aan het riool. Op dit moment (medio 2015) zijn al 2.000 boten op het riool aangesloten en voor 800 boten is er nog werk in uitvoering. In 2017 zullen alle woonboten aangesloten moeten zijn. 
      #opwoeling-story.text-view
        h1 Opwoeling
        p.
          De diepte van het water in Amsterdam varieert van twee tot vier meter diepte. Wanneer boten met grote schroeven door het water varen woelen ze de bodem op. Dit zorgt voor troebelheid, waardoor licht wordt geblokkeerd. Daarnaast ligt op de bodem vaak verontreiniging. Op de bodem zijn ze zo goed als onschadelijk, maar na opwoeling vormen ze weer verontreiniging. 
      #uitspoeling-story.text-view
        h1 Uitspoeling
        p.
          Regenwater stroomt voor een deel het riool in. Een ander deel stroomt direct het oppervlaktewater in. Deze verontreiniging bevat vaak zware metalen, drijfvuil en organisch materiaal. In stedelijke gebieden worden meer zware metalen en drijfafval aangetroffen, in agrarisch land meer nutriënten en pesticiden. 