section#doorsnede.left.medium-padding-top
  .four-col-three.left
    #doorsnedeContainer.doorsnedeContainer
      .view.droog-opwoeling
      .view.droog-woonboot
      .view.rain
      .view.rain-overstort
      .view.rain-uitspoeling
      .view.droog
  .four-col.left.small-padding-side
    ul.doorsnedeNav
      li.doorsnede-button.active(data-name="droog") Droog
      li.doorsnede-button(data-name="droog-opwoeling") Opwoeling
      li.doorsnede-button(data-name="droog-woonboot") Woonboot
      li.doorsnede-button(data-name="rain") Regen
      li.doorsnede-button(data-name="rain-overstort") Overstort
      li.doorsnede-button(data-name="rain-uitspoeling") Uitspoeling
    h1 Doorsnede
    p.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque suscipit quam et sollicitudin. Cras eu interdum purus. Donec ac faucibus lorem. Pellentesque eu urna convallis, sollicitudin orci quis, vulputate eros. Quisque in pellentesque sapien. Integer a orci dictum, sollicitudin libero a, luctus magna. Nunc vel odio ut massa pellentesque convallis vitae in ante. Donec rutrum velit a ante sodales, sed dapibus turpis tempus. Sed vel ex quis augue lobortis efficitur. Quisque vestibulum risus a mauris pulvinar rhoncus. Etiam placerat ligula at aliquam tincidunt. Nulla placerat molestie ultricies. Nullam nec egestas magna.aaaaaa