section#doorsnede.left.medium-padding-top
  .four-col-three.left
    #doorsnedeContainer.doorsnedeContainer
      .view.droog-opwoeling
      .view.droog-woonboot
      .view.rain
      .view.rain-overstort
      .view.rain-uitspoeling
      .view.droog
  .four-col.left.small-padding-side
    ul.doorsnedeNav
      li.doorsnede-button.active(data-name="droog") Droog
      li.doorsnede-button(data-name="droog-opwoeling") Opwoeling
      li.doorsnede-button(data-name="droog-woonboot") Woonboot
      li.doorsnede-button(data-name="rain") Regen
      li.doorsnede-button(data-name="rain-overstort") Overstort
      li.doorsnede-button(data-name="rain-uitspoeling") Uitspoeling
    h1 Stadsdoorsnede
    p.
      We nemen vaak voor lief dat de stad functioneert. Pas als het mis gaat, worden kritische vragen gesteld. Gelukkig hebben we in Nederland, en met name in  Amsterdam, een zeer hoge standaard als het gaat om watermanagement. Deze stadsdoorsnede combineert wat je ziet met wat je normaal niet ziet.  