doctype html
html
  head
    meta(charset="utf-8")
    title Liquid Commons Amsterdam
    link(href="http://fonts.googleapis.com/css?family=Open+Sans|Montserrat:700", rel="stylesheet", type="text/css")
    link(href='public/css/main.css', rel="stylesheet")
    //- inject:head:js
    script(src="public/js/preload/preloader.js")
    //- endinject
    script(src="public/js/output.min.js")
    link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css")
    script(src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js")
  body.loading
    #menuContainer
      nav#mainMenu.mainMenu
        ul
          li.home  
            a(href='#home') Start
          li.liquidCommons 
            a(href='#liquidCommons') Liquid Commons
          li.liqSub 
            a(href='#biodiversiteit') Waterkwaliteit
          li.liqSub 
            a(href='#systeem') Amsterdam
          li.liqSub 
            a(href='#stroming') Stroming
          li.liqSub 
            a(href='#uitspoeling') Uitspoeling
          li.liqSub 
            a(href='#overstortstatic') Riool
          li.liqSub 
            a(href='#doorsnede') Doorsnede
          li.projects
            a(href='#project') Project