doctype html
html(lang="en")
  head
    title Liquid Commons Amsterdam
    link(href="http://fonts.googleapis.com/css?family=Open+Sans|Montserrat:700", rel="stylesheet", type="text/css")
    link(href='main.css', rel="stylesheet")
    script(src="public/js/output.min.js")
  body.loading
    nav#mainMenu.mainMenu
      ul
        li 
          a(href='#home') Home
        li 
          a(href='#liquidCommons') Liquid Commons
        li 
          a(href='#stroming') Project
    nav#subMenu.subMenu
      ul
        li 
          a(href='#waterkwaliteit') Waterkwaliteit
        li 
          a(href='#riool') Systeem
        li 
          a(href='#stroming') Doorsnede
        li 
          a(href='#stroming') Stroming
        li 
          a(href='#stroming') Riool
        li 
          a(href='#stroming') Landbouw