doctype html
html(lang="en")
  head
    title Liquid Commons Amsterdam
    link(rel="apple-touch-icon", sizes="57x57", href="/apple-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/apple-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/apple-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/apple-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/apple-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/apple-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/apple-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/apple-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-icon-180x180.png")
    link(rel="icon", type="image/png", sizes="192x192",  href="/android-icon-192x192.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="96x96", href="/favicon-96x96.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest" href="/manifest.json")
    meta(name="msapplication-TileColor", content="#ffffff")
    meta(name="msapplication-TileImage", content="/ms-icon-144x144.png")
    meta(name="theme-color", content="#ffffff")
    link(href="http://fonts.googleapis.com/css?family=Open+Sans|Montserrat:700", rel="stylesheet", type="text/css")
    link(href='public/css/main.css', rel="stylesheet")
    //- inject:head:js
    script(src="public/js/preload/preloader.js")
    //- endinject
    script(src="public/js/output.min.js")
    link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css")
    script(src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js")
  body.loading
    #menuContainer
      nav#mainMenu.mainMenu
        ul
          li.home  
            a(href='#home') Start
          li.liquidCommons 
            a(href='#liquidCommons') Liquid Commons
          li.liqSub 
            a(href='#waterkwaliteit') Waterkwaliteit
          li.liqSub 
            a(href='#systeem') Systeem
          li.liqSub 
            a(href='#doorsnede') Doorsnede
          li.liqSub 
            a(href='#stroming') Stroming
          li.liqSub 
            a(href='#riool') Riool
          li.liqSub 
            a(href='#landbouw') Landbouw
          li.projects
            a(href='#project') Project