doctype html
html(lang="en")
  head
    title Liquid Commons Amsterdam
    link(href="http://fonts.googleapis.com/css?family=Open+Sans|Montserrat:700", rel="stylesheet", type="text/css")
    link(href='public/css/main.css', rel="stylesheet")
    script(src="public/js/output.min.js")
    script(src="public/js/preloader.js")
  body.loading
    #menuContainer
      nav#mainMenu.mainMenu
        ul
          li 
            a(href='#home') Home
          li 
            a(href='#liquidCommons') Liquid Commons
          li 
            a(href='#waterkwaliteit') Waterkwaliteit
          li 
            a(href='#systeem') Systeem
          li 
            a(href='#doorsnede') Doorsnede
          li 
            a(href='#stroming') Stroming
          li 
            a(href='#riool') Riool
          li 
            a(href='#landbouw') Landbouw
          li 
            a(href='#stroming') Project
//      nav#subMenu.subMenu
//        ul
//          li 
//            a(href='#waterkwaliteit') Waterkwaliteit
//          li 
//            a(href='#systeem') Systeem
//          li 
//            a(href='#doorsnede') Doorsnede
//          li 
//            a(href='#stroming') Stroming
//          li 
//            a(href='#riool') Riool
//          li 
//            a(href='#landbouw') Landbouw