section#home.page.page-1.left
  .logo(data-start="top: 50%; opacity: 1;" data-1000-start="top: 55%; opacity: 0;")
    include ../images/logo.svg
  #droppje.logo-drop.thedrop(data-start="top: 50%; opacity: 1;" data-1000-start="top: 100%; opacity: 0;")
    include ../images/drop.svg
  .flowmap#splashflow(data-top="position: fixed;" data-top-bottom="position: absolute;" data-anchor-target="#home")