section#home.page.page-1.left
  .logo
    include ../images/logo.svg
  #droppje.logo-drop.thedrop(data-start="top: 50%;" data-1000-start="top: 100%;")
    include ../images/drop.svg
  .flowmap#splashflow