include ./header.jade
main
  .loader
    .logo
      include ../images/logo.svg
      p.
        Deze site is geoptimaliseerd voor moderne browsers, best te bekijken op Chrome.
  include ./home.jade
  include ./intro.jade
  include ./liquidCommons.jade
  include ./stroomgebied.jade
  include ./biodiversiteit.jade
  include ./waterkwaliteit.jade
  include ./systeem.jade
  include ./uitspoeling.jade
  include ./stroming.jade
  include ./doorsnede.jade
  include ./overstortstatic.jade
  include ./riool.jade
  include ./overstorten.jade
  include ./project.jade  
  include ./netwerk.jade  
  include ./contact.jade  
script(src="public/js/md/constants.js")
script(src="public/js/md/clipsContaminators.min.js")
script(src="public/js/md/functions.js")
script(src="public/js/md/grid.js")
script(src="public/js/md/particle.js")
script(src="public/js/md/MotionDisplay.js")
script(src="public/js/md/fieldsLoader.js")
script(src="public/js/md/initMotionDisplay.js")

//- inject:js
script(src="public/js/jquery.viewportchecker.js")
script(src="public/js/main.js")
//- endinject

script.
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.waag.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 4]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
noscript
  img(src="//stats.waag.org/piwik.php?idsite=4" style="border:0;" alt="")