section#intro.page.left.bigger-padding
  .two-col.standard-padding.left.white-text.intro-text
    p.
      Deze website gaat over waterkwaliteit in Amsterdam, hoe we er samen zorg voor kunnen dragen en van kunnen genieten.

    p.
      Waterkwaliteit is een multi-variabel en relatief begrip en daarom complex om op stedelijke schaal te bevatten. Het is niet een kwestie van meten = weten. We proberen hier echter wel inzichtelijk te maken hoe waterkwaliteit werkt en waardoor het wordt beïnvloed. We tonen hier een incompleet werk in wording, een sneakpreview, die verdere aanvulling, onderzoek en nuance vergt. Echter, zijn er al een aantal inzichten die we hier graag met bewoners en bezoekers van Amsterdam delen om zo de kennis van de stad te vergroten.
    p Bent u geïnteresseerd en wilt u bijdragen aan schoner water in Amsterdam neem dan contact met ons op.
  .blackOverlay