section#intro.page.left.bigger-padding
  .two-col.standard-padding.left.white-text.intro-text
    p.
      Liquid Commons gaat over de waterkwaliteit in Amsterdam. Hoe wij daar samen zorg voor kunnen dragen en van kunnen genieten.
    p.
      We doen dit op twee manieren. Via Liquid Commons maken wij de complexe data van Waternet op een visuele manier toegankelijk, met als doel de inwoners en bezoekers van Amsterdam te informeren en te betrekken bij het verbeteren van de waterkwaliteit. Amsterdecks is een hieraan gekoppeld project dat deze informatie gebruikt om een netwerk van publieke waterkwaliteit-metende vlonders te realiseren op strategische plekken in de stad waar kan worden gezwommen.
    p
      | Deze site is een sneak preview van een project in uitvoering. Bent u geïnteresseerd, wilt u bijdragen aan schoner water in Amsterdam of ziet u mogelijkheden voor een Amsterdeck bij je in de buurt, neem dan 
      a(href='#contact') contact
      |  met ons op.
  .blackOverlay