section#intro.page.left.bigger-padding
  .two-col.standard-padding.left.white-text.intro-text
    p.
      Deze website gaat over waterkwaliteit in Amsterdam, hoe we er samen zorg voor kunnen dragen en van kunnen genieten.
    p.
      Wij doen dit via 2 sporen. Via Liquid Commons maken wij complexe data over het watersysteem op informatieve manier toegankelijk met als doel dat bewoners en bezoekers van Amsterdam te betrekken bij het verbeteren van de waterkwaliteit.  Amsterdecks is een hieraan gekoppeld project dat deze informatie gebruikt om een netwerk van publieke waterkwaliteit metende vlonders te realiseren op strategische plaatsen door de stad.
    p.
      De huidige site is een sneak-preview van een project in uitvoering. Bent u geïnteresseerd en wilt u bijdragen aan schoner water in Amsterdam neem dan contact met ons op: info@amsterdecks.com 
  .blackOverlay