section#liquidCommons.page.page-2.left.bigger-padding
  .three-col.standard-padding.left
    h1 Liquid commons
    p.
      Water is van iedereen en tegelijkertijd van niemand alléén. Elk type gebruik van water vergt een bepaalde waterkwaliteit die vaak verandert door dit gebruik. Als men bijvoorbeeld een zwembad vult met drinkwater, is het na een dag zwemmen niet schoon genoeg meer om te drinken. Een ander voorbeeld is een fabriek, waar water tijdens het productieproces vervuild raakt. Op deze manier verbindt water iedereen via onze alledaagse handelingen in een groot systeem van onderlinge afhankelijkheden. Deze afhankelijkheden kunnen zowel synergieën als belangenconflicten opleveren. 
    p.
      De afgelopen decennia heerste beleidsmatig de theorie dat collectief beheerde grondstoffen, zoals schoon water, inherent leidde tot uitputting van deze grondstoffen. Dit perspectief stelde dat er altijd mensen zijn die hun individuele belangen boven gemeenschappelijke stelden en dat dit uiteindelijk zou leiden tot een negatieve uitkomst voor iedereen. Dit proces werd “the tragedy of the commons” genoemd en opperde dat deze tragedie alleen met behulp van marktwerking en wetgeving kon worden tegengegaan.
    p.
      Nobelprijswinnares Elinor Ostrom heeft echter aangetoond dat er in feite succesvolle uitzonderingen op deze regel bestaan. Onder specifieke omstandigheden hebben groepen, instituten en landen zonder wetgeving of marktwerking via collectieve afspraken gemeenschappelijke grondstoffen op een duurzame wijze kunnen exploiteren. 
    p.
      Liquid Commons bouwt voort op deze precedenten in relatie tot de waterkwaliteit in Amsterdam. Het doel is om in samenwerking met bewoners, ondernemers en beleidsmakers projecten te realiseren die bijdragen aan het duurzame gezamenlijke beheer van de Amsterdamse waterkwaliteit. Het project Amsterdecks laat zien hoe we dat zouden kunnen doen. 
  .three-col-two.svgContainerLeft.right
    include ../images/spin.svg