section#liquidCommons.page.page-2.left.bigger-padding
  .three-col.standard-padding.left
    h1 Liquid commons
    p.
      Water is van iedereen en tegelijkertijd van niemand alléén.  
      Elk type gebruik van water vergt een bepaalde waterkwaliteit. In meeste gevallen veranderd door dit gebruik de kwaliteit van het water. Als je bijvoorbeeld een zwembad vult met drinkwater, is het na een dag zwemmen niet meer goed genoeg om te drinken. Of bijvoorbeeld bij fabrieken waar water tijdens het productie proces vervuild en daarna in oppervlakte water wordt geloosd waardoor het niet meer schoon genoeg is voor dieren. 
      Op deze manier verbind water iedereen via onze alledaagse handelingen in een groot systeem van onderlinge afhankelijkheden. Deze afhankelijkheden  kunnen zowel synergieën als belangen conflicten opleveren. 
    p.
      De afgelopen decennia heerste beleidsmatig de theorie dat collectief beheerde grondstoffen, zoals schoon water, inherent leidde tot de uitputting van deze grondstoffen. Dit perspectief stelde, dat er altijd mensen zijn die hun individuele belangen boven gemeenschappelijke stellen wat uiteindelijk  niet duurzaam zou zijn. Dit negatieve proces werd “the Tragedy of the Commons” genoemd en stelde dat deze tragedie alleen met behulp van marktwerking en overheids ingrijpen kon worden tegengegaan.
    p.
      De afgelopen jaren is echter aangetoond  dat er in feite succesvolle uitzonderingen op deze regel bestaan. Onder specifieke omstandigheden hebben groepen, instituten, en landen zonder wetgeving of marktwerking via collectieve afspraken gemeenschappelijke grondstoffen op een duurzame wijze kunnen exploiteren.
    p.
      Liquid Commons bouwt voort op deze precedenten in relatie tot de waterkwaliteit in Amsterdam. Het doel is in samenwerking met bewoners, ondernemers en beleidsmakers om projecten te realiseren die bijdragen aan het duurzame gezamenlijke beheer van het Amsterdamse water. Het project, Amsterdecks, is een uitwerking hiervan.

  
  
  
  
  .three-col-two.svgContainerLeft.right
    include ../images/spin.svg