section#netwerk.page.left.bigger-padding
  .three-col.small-padding.left.box
    h1 NETWERK VAN ZWEMLOCATIES
    p.
      Alle Amsterdecks vormen samen een netwerk verspreid door heel Amsterdam. Per locatie creëren we allianties met buurtbewoners, lokale ondernemers, instanties, en deelgemeentes om plek-specifieke vlonders te realiseren. De kennis van het systeem wordt ingezet om belovende plekken te selecteren waar potenties het beste benut kunnen worden.
