section#netwerk.page.left
  .three-col-two.full-height.right.poster-netwerk
  .three-col.medium-padding.right.full-height
    h1 NETWERK VAN ZWEMLOCATIES
    p.
      Alle Amsterdecks vormen samen een netwerk verspreid over Amsterdam. Per locatie creëren we allianties met buurtbewoners, lokale ondernemers, instanties, en deelgemeentes om plek-specifieke vlonders te realiseren. De kennis van het systeem wordt ingezet om veelbelovende plekken te selecteren waar de mogelijkheden het beste benut kunnen worden. 