section#overstortstatic.page.left
  .four-col.box.left.standard-padding
    h1 Rioolnetwerk
    p.
      Amsterdam heeft een uitgebreid rioolnetwerk. Op de kaart is zichtbaar dat het gemengde stelsel (in oranje) zich voornamelijk in het centrum bevindt. In de wijken buiten het centrum is een gescheiden rioolnetwerk aangelegd. Tijdens een overstortsituatie kan men er dus vanuit gaan dat er een veel schadelijke bacteriële verontreiniging in het systeem zit. Met een gunstige stroming is dit echter binnen drie dagen uit het systeem. Ook op de kaart te vinden zijn de zuiveringen bij de haven en die bij Amstelveen. Deze RWZI’s kunnen beschouwd worden als een soort overstorten. Bij zware regenval komen hier grote hoeveelheden bacteriën in het water. 
