section#overstortstatic.page.left
  .four-col.box.left.standard-padding
    h1 Riool Netwerk
    p.
      Amsterdam heeft een netwerk van xxxkm aan riolen. Op de kaart zie je dat het gemengde stelsel (in oranje) zich voornamelijk in het centrum bevind. In de wijken buiten het centrum is een gescheiden riool netwerk aangelegd. Tijdens een overstort situatie kan men er dus vanuit gaan dat er een zeer veel schadelijke bacteriële verontreiniging in het systeem zit. Afhankelijk van de stroming kan dit een aantal dagen in de stad blijven hangen totdat het wegstroomt en op natuurlijk wijze afbreekt. Hoe gezonder het systeem, hoe sneller deze afbraak gaat.
    p.
      Op de kaart zie je ook de zuiveringen bij de haven en die bij Amstelveen. Deze RWZI’s kunnen beschouwd worden als enorme overstorten. Bij zware regenval komen hier ook grote ladingen bacteriën in het water.
