section#overstorten.page.left
  #overstortenContainer
  .four-col.left.standard-padding.stromingStory.full-height
      h1 Placeholder
      p.
        Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders.