section#project.page.left
  .three-col.medium-padding.left.full-height
    h1 Amsterdecks
    p.
      Er wordt al volop gezwommen op vele plekken in Amsterdam. Maar is de waterkwaliteit dan al goed genoeg om te zwemmen? Terwijl elke Amsterdammer wel een anecdote over de waterkwaliteit in de stad kent, doen meer mythes dan waarheden de ronde. Feit is dat de kwaliteit variabel is. Amsterdecks biedt bewoners van Amsterdam een middel om een beter geïnformeerde keuzes te maken om veilig te kunnen zwemmen.
      
    p.
      Gebruikmakend van de analyse van Liquid Commons zoeken wij strategische plekken om waterkwaliteit-metende vlonders te positioneren. In samenwerking met buurtbewoners, ondernemers en de ondersteunende overheden maken we zo het water in Amsterdam schoon en toegankelijk. 
  .three-col-two.full-height.project-image.left.poster