section#project.page.left
  .three-col.medium-padding.left.full-height
    h1 Publieke Zwemplekken
    p Is de waterkwaliteit in Amsterdam nu al goed genoeg om bijvoorbeeld te zwemmen?
    p.
      Terwijl elke Amsterdammer wel een anekdote over de waterkwaliteit in de stad kent, doen meer mythes dan waarheden de ronde. Feit is dat de kwaliteit variabel is. Zo kan na stortregen in de zomer een overstortsituatie voorkomen waarna je een paar dagen beter het water niet kan betreden. Ook niet als het de dag daarna mooi weer is. Op andere locaties is het water schoon, maar vormt de scheepvaart weer een belemmering. De keuze om te zwemmen vergt dus inzicht in verschillende variabelen van het watersysteem in Amsterdam.
      
    p.
      Amsterdecks zijn openbare waterkwaliteit metende vlonders die toegang tot het water bieden en informatie over de waterkwaliteit tonen. Zo creëren we in Amsterdam een “Liquid Commons” die burgers informeert en betrekt bij het verbeteren van de waterkwaliteit. Door de actuele condities te tonen en de oorsprong van verontreinigingen toe te lichten, bieden we betrokken burgers handelingsperspectief om te participeren in een schoner Amsterdam.
  .three-col-two.full-height.project-image.left.poster