section#project.page.left
  .three-col.medium-padding.left.full-height
    h1 Amsterdecks
    p.
      Er wordt al volop gezwommen op vele plekken in Amsterdam. Maar is de waterkwaliteit dan al goed genoeg om te zwemmen? Terwijl elke Amsterdammer een anecdote over waterkwaliteit kent, doen meer mythes dan waarheden de ronde. Het feit is dat het variabel is. Amsterdecks bied bewoners van Amsterdammers een middel om een beter geïnformeerde keuze te maken om veilig te zwemmen.
    p.
      Gebruikmaken van de analyse van Liquid Commons zoeken wij strategische plekken in het systeem waterkwaliteit om waterkwaliteit metende vlonders te positioneren. In samenwerking met buurtbewoners, ondernemers en de ondersteunende overheden maken we zo het water in Amsterdam schoon
      en openbaar.
  .three-col-two.full-height.project-image.left.poster