section#riool.page.left.bigger-padding
  .three-col.standard-padding.left
    h1 Riool
    p.
      Historisch gezien werden riolen ontworpen om regenwater af te voeren. Huizen zaten aangesloten op beerputten, sceptic-tanks of direct op de grachten. Pas sinds 1987 zijn alle huizen in Amsterdam aan het centrale riool aangesloten. Tot die tijd liep er dus op bepaalde plekken direct onbehandeld rioolwater de grachten in.
    p.
      Het oude riool-systeem is een gemengd systeem. Dat wil zeggen dat huishoudelijk afvalwater en regenwater via dezelfde buis worden afgevoerd naar de zuivering. In stadsuitbreidingen vanaf 1930 vinden we gescheiden rioolstelsels waar regenwater en huishoudelijk afvalwater via verschillende buizen wordt afgevoerd.
    p.
      Beide systemen kunnen extreme regenval niet aan. In het nieuwe gescheiden stelsel maakt dit niet uit omdat er in feite regenwater via de buis in het water beland. Bij het gemengde stelsel stort er echter onbehandeld huishoudelijk afval water op het oppervlakte water. Overstortriolen zijn in het straatbeeld te herkennen aan hun gele putdeksels. 
    ul.rioolNav
      li.regenBtn Regenval
      li.droogteBtn.active Droogte
  .three-col-two.small-padding.left    
    #overStortcontainer
      .view.droogOverstort
        include ../images/overstort_normaal.svg
      .view.regenOverstort
        include ../images/overstort_regen.svg