section#riool.page.left.bigger-padding
  .three-col.standard-padding.left
    h1 Riool
    p.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque suscipit quam et sollicitudin. Cras eu interdum purus. Donec ac faucibus lorem. Pellentesque eu urna convallis, sollicitudin orci quis, vulputate eros. Quisque in pellentesque sapien. Integer a orci dictum, sollicitudin libero a, luctus magna. Nunc vel odio ut massa pellentesque convallis vitae in ante. Donec rutrum velit a ante sodales, sed dapibus turpis tempus. Sed vel ex quis augue lobortis efficitur. Quisque vestibulum risus a mauris pulvinar rhoncus. Etiam placerat ligula at aliquam tincidunt. Nulla placerat molestie ultricies. Nullam nec egestas magna.aaaa
    ul.rioolNav
      li.regenBtn Regenval
      li.droogteBtn.active Droogte
  .three-col-two.small-padding.left    
    #overStortcontainer
      .view.droogOverstort
        include ../images/overstort_normaal.svg
      .view.regenOverstort
        include ../images/overstort_regen.svg