section#riool.page.left.bigger-padding
  .three-col.standard-padding.left
    h1 Overstortriool
    p.
      Historisch gezien werd huishoudelijk afvalwater verzameld voor hergebruik. Vanaf 1872 werd een groot rioolnetwerk aangelegd ten tijde van de bouw van de buurten rondom het Vondelpark en de Pijp. Dit oude systeem is een gemengd rioolsysteem. Dat betekent dat huishoudelijk afvalwater en regenwater via dezelfde buis worden afgevoerd. 
      
    p.
      In stadsuitbreidingen vanaf 1930 was de bestaande riolering te klein om op aan te sluiten. Vanaf dat moment wordt een gescheiden rioolstelsel aangelegd, waar regenwater en huishoudelijk afvalwater via verschillende buizen wordt afgevoerd naar de waterzuivering.
    p.
      Beide systemen zijn erg robuust, maar bij extreme regenval storten zij over. In het nieuwe gescheiden stelsel is dit niet heel erg, omdat in feite regenwater en stedelijke uitspoeling in het oppervlaktewater belandt. Bij het gemengde stelsel stort echter onbehandeld huishoudelijk afvalwater op het oppervlaktewater. Overstortriolen zijn te herkennen aan hun gele putdeksels. Gelukkig komen overstortcondities weinig voor, zo’n zes à tien keer per jaar. Helaas wel vaker in de zomermaanden.
    ul.rioolNav
      li.droogteBtn.active(data-activate="droog") Droog
      li.regenBtn(data-activate="regen") Extreme regenval
  .three-col-two.small-padding.left    
    #overstortcontainer.droog
      #riooltitles
        #riooltitle-gemengd
          h3 Gemengd riool
        #riooltitle-gescheiden
          h3 Gescheiden riool
      .view.droogOverstort
        include ../images/overstort_normaal.svg
      .view.regenOverstort
        include ../images/overstort_regen.svg