section#stroming.page.left
  .three-col.standard-padding.left.full-height
    .stromingView
      #stromingRijn
  .three-col.standard-padding.left.full-height
    .stromingView
      #stromingCenter
section.page.left
  .three-col.standard-padding.left.full-height
    .stromingView
      #stromingRijn
  .three-col.standard-padding.left.full-height
    .stromingView
      #stromingCenter