section#stroming.page.left
  .four-col.left.full-height.standard-padding.stromingStory
    h1 Placeholder
    p.
      Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. 
  .stromingView
    #stromingRijn
section#stroming-2.page.left
  .stromingView
    #stromingCenter
  .four-col.left.full-height.standard-padding.stromingStory
    h1 Placeholder
    p.
      Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. Dit zijn kleurige placeholders. 