section#stroming.page.left
  .four-col.left.standard-padding.box
    h1 Stroming
    p.
      Is het je al eens opgevallen dat water in Amsterdam niet altijd in dezelfde richting stroomt?
    p.
      De waterstroming rondom Amsterdam is alles behalve natuurlijk. Een heel netwerk van gemalen, sluizen en spuien regelt wanneer en waar water stroomt. De twee meest bepalende elementen in dit systeem zijn het Amsterdam-Rijnkanaal en de spuisluizen bij IJmuiden. Het kanaal zorgt voor een grote toevoer vanuit de Rijn (in verhouding veel groter dan de invloed van de Amstel). Omdat Amsterdam onder NAP ligt kunnen de spuien bij IJmuiden alleen open bij eb. Bij vloed gaan de spuien dicht. Omdat de Rijn doorstroomt en tegen de dichte spuien stoot, komt een omgekeerde stroming op gang. De stroomrichting in Amsterdam verandert dan van richting. Dit gebeurt elke dag. Dit zogenaamde “pseudo-getij” zorgt in principe dat het water doorstroomt en is dus goed voor de kwaliteit van het water. Onder ongunstige omstandigheden kan het hierdoor echter langer in de stad blijven hangen. 

    .spui
      .view.laag
      .view.hoog
  #stromingFlowContainer