section#stroomgebied.page.left.bigger-padding
  .three-col.standard-padding.white-text.left
    h1 Stroomgebied
    p.
      Amsterdam behoort tot het stroomgebied van de Rijn. Een stroomgebied is een gebied waarvan alle neerslag uitkomt in dezelfde riviermond. De grenzen worden bepaald door bergruggen die in één richting afwateren naar de Nederlandse delta. Binnen het stroomgebeid bevinden zich weer allerlei andere grenzen die op kleinere schaal politieke en geografische verschillen aanduiden. Het stroomgebied van de Rijn kan worden gezien als een transnationale commons, waar mensen van 9 verschillende landen gezamelijk zorg dragen voor de waterkwaliteit. Voor Nederlander, dat zich benedenstrooms bevind, is het stimuleren van schoonwater door het gehele stroomgebied extra relevant.  