section#systeem.page.page-3.left.big-padding
  #aerialViewContainer.aerialViewContainer
    .view.arialClean
  aside#mainSystemNav.systeemNav.small-padding
    #arialOverstortsText.infoView
      h1 Overstorten
      p.
        Overstorten ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin leo tincidunt ipsum tempor, et sodales mauris auctor. Proin mattis ligula quis ligula pretium mattis. Duis ornare maximus posuere. Aliquam lobortis mauris quis sem malesuada, id convallis magna finibus. Nullam aliquam non eros a mattis. Duis quis augue vitae est sodales eleifend et tincidunt dui. Praesent lobortis lobortis eros, id rhoncus tellus efficitur at. Sed eget magna maximus nisi fringilla condimentum cursus in lectus. Cras viverra augue vel dui congue commodo. Vivamus sed euismod lorem. Etiam urna leo, pellentesque sit amet neque sit amet, vehicula tempus dui. Curabitur laoreet sodales malesuada.
    #arialRzwiText.infoView
      h1 RZWI
      p.
        RZWI ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin leo tincidunt ipsum tempor, et sodales mauris auctor. Proin mattis ligula quis ligula pretium mattis. Duis ornare maximus posuere. Aliquam lobortis mauris quis sem malesuada, id convallis magna finibus. Nullam aliquam non eros a mattis. Duis quis augue vitae est sodales eleifend et tincidunt dui. Praesent lobortis lobortis eros, id rhoncus tellus efficitur at. Sed eget magna maximus nisi fringilla condimentum cursus in lectus. Cras viverra augue vel dui congue commodo. Vivamus sed euismod lorem. Etiam urna leo, pellentesque sit amet neque sit amet, vehicula tempus dui. Curabitur laoreet sodales malesuada.
    #arialSpuiText.infoView
      h1 Stroming
      p.
        Spui ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin leo tincidunt ipsum tempor, et sodales mauris auctor. Proin mattis ligula quis ligula pretium mattis. Duis ornare maximus posuere. Aliquam lobortis mauris quis sem malesuada, id convallis magna finibus. Nullam aliquam non eros a mattis. Duis quis augue vitae est sodales eleifend et tincidunt dui. Praesent lobortis lobortis eros, id rhoncus tellus efficitur at. Sed eget magna maximus nisi fringilla condimentum cursus in lectus. Cras viverra augue vel dui congue commodo. Vivamus sed euismod lorem. Etiam urna leo, pellentesque sit amet neque sit amet, vehicula tempus dui. Curabitur laoreet sodales malesuada.
    #arialAgriText.infoView
      h1 Uitspoeling
      p.
        Agri ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin leo tincidunt ipsum tempor, et sodales mauris auctor. Proin mattis ligula quis ligula pretium mattis. Duis ornare maximus posuere. Aliquam lobortis mauris quis sem malesuada, id convallis magna finibus. Nullam aliquam non eros a mattis. Duis quis augue vitae est sodales eleifend et tincidunt dui. Praesent lobortis lobortis eros, id rhoncus tellus efficitur at. Sed eget magna maximus nisi fringilla condimentum cursus in lectus. Cras viverra augue vel dui congue commodo. Vivamus sed euismod lorem. Etiam urna leo, pellentesque sit amet neque sit amet, vehicula tempus dui. Curabitur laoreet sodales malesuada.
    #arialAllText.infoView
      h1 Systeem
      p.
        Een moment opname maken van lokale waterkwaliteit is niet moeilijk. Een coherent beeld maken van de waterkwaliteit van een stad bepalen is echter zeer complex en omvat oneindig veel uitzonderingen en nuances. Om toch een beeld te krijgen hoe de waterkwaliteit werkt, kun je naar het hydrologische systeem kijken van Amsterdam en welke verontreinigingen erin voorkomen. We zullen hier kijken naar de stroming, de riool waterzuiveringsinstallaties, overstorten en de uitspoeling van bepaalde landgebruiken.
    
    ul#arialNav
      li(onClick="systemView('arialAll')")#arialAllBtn Systeem
      li(onClick="systemView('arialOverstorts')")#arialOverstortsBtn Overstorten
      li(onClick="systemView('arialRzwi')")#arialRzwiBtn RZWI
      li(onClick="systemView('arialSpui')")#arialSpuiBtn Stroming
      li(onClick="systemView('arialAgri')")#arialAgriBtn Uitspoeling