section#systeem.page.page-3.left.big-padding
  #aerialViewContainer.aerialViewContainer
    .view.arialClean
  aside.systeemNav.small-padding
    ul#arialNav
      li(onClick="systemView('arialOverstorts')")#arialOverstortsBtn Overstorts
      li(onClick="systemView('arialRzwi')")#arialRzwiBtn RZWI
      li(onClick="systemView('arialSpui')")#arialSpuiBtn Spui
      li(onClick="systemView('arialAgri')")#arialAgriBtn Landbouw
      li(onClick="systemView('arialAll')")#arialAllBtn Alles