section#systeem.page.page-3.left.big-padding
  #aerialViewContainer.aerialViewContainer
    .view.arialClean
  aside#mainSystemNav.systeemNav.small-padding
    #arialOverstortsText.infoView
      h1 Overstorten
      p.
        Bij zware regenval kan de capaciteit van het rioolsysteem het soms niet aan en moet via een noodvoorziening water worden geloosd op het oppervlaktewater. Dit is dan ongezuiverd rioolwater dat veel schadelijke bacteriën bevat. Dergelijke situaties komen alleen voor bij extreme regenval wat vijf tot tien keer per jaar gebeurt. Op de kaart is te zien dat overstorten zich voornamelijk in het centrum bevinden. Na een overstortmoment reinigt het water zichzelf binnen vier à vijf dagen. 
    #arialRzwiText.infoView
      h1 RIOOLWATER ZUIVERING INSTALLATIES (RWZI)
      p.
        Al het rioolwater in Amsterdam wordt naar twee waterzuiveringen in de Amsterdamse haven getransporteerd. Daar wordt het gereinigd, worden bruikbare stoffen onttrokken en wordt het uiteindelijk geloosd in het IJ. Hoewel het water uit een RWZI wordt gezuiverd, is de zuivering niet volledig. In feite werkt het als een enorme riooloverstort. Hoe meer toevoer naar de RWZI, hoe sneller die moet werken en hoe meer verontreiniging in de uitstroom van de RWZI komt. Omdat er benedenstroom op de Amstel drie RWZI’s zijn (bij Uithoorn, De Ronde Venen en Amstelveen), zorgen deze nog voor een aanzienlijke verontreiniging van het water dat via de Amstel naar het centrum stroomt.
    #arialSpuiText.infoView
      h1 Stroming
      p.
        Water transporteert. Het beweegt en brengt allerlei materiaal met zich mee. De concentratie daarvan bepaalt dat we het soms verontreinigd noemen, terwijl dezelfde stoffen in lagere concentraties juist nuttig kunnen zijn. Het gaat dus om een goede balans. 
      p.
        In het verleden werden de grachten mechanisch gespoeld, dat gebeurt echter sinds 2010 niet meer. Op dit moment zijn de twee meest invloedrijke factoren de stroming van het Amsterdam-Rijnkanaal en de spuisluizen bij IJmuiden. Wanneer water goed doorstroomt worden de verontreiniging sneller naar zee verplaatst. 
    #arialAgriText.infoView
      h1 GRONDGEBRUIK
      p.
        Het grootste oppervlak van het Waterschap Amstel, Gooi en Vecht wordt ingenomen door landbouw; ongeveer 56% . Regenval spoelt meststoffen en pesticiden uit weilanden in poldersloten, die vervolgens naar de rivieren stromen. Afhankelijk van het landbouwbeleid kan dergelijke verontreiniging erg nadelig zijn voor de waterkwaliteit en leiden tot eutrofiëring. Elk grondgebruik heeft een specifiek profiel van verontreiniging.
    #arialAllText.infoView
      h1 Systeem
      p.
        Een momentopname maken van de lokale waterkwaliteit is niet moeilijk. Een coherent beeld vormen van de waterkwaliteit van een stad is echter een complexe aangelegenheid en omvat oneindig veel uitzonderingen en nuances.
      p.
        Om toch een beeld te krijgen van de waterkwaliteit, kunnen we naar het hydrologische systeem van Amsterdam kijken en welke verontreinigingen erin voorkomen. We zullen op deze site kijken naar de stroming, de rioolwaterzuiveringsinstallaties, de overstorten en de uitspoeling door bepaalde types grondgebruik. 
    
    ul#arialNav
      li(data-name="arialAll")#arialAllBtn Systeem
      li(data-name="arialOverstorts")#arialOverstortsBtn Overstorten
      li(data-name="arialRzwi")#arialRzwiBtn RZWI
      li(data-name="arialSpui")#arialSpuiBtn Stroming
      li(data-name="arialAgri")#arialAgriBtn Grondgebruik