section#systeem.page.page-3.left.big-padding
  #aerialViewContainer.aerialViewContainer
    .view.arialClean
  aside#mainSystemNav.systeemNav.small-padding
    
    p#arialOverstortsText.
      Overstorten ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin leo tincidunt ipsum tempor, et sodales mauris auctor. Proin mattis ligula quis ligula pretium mattis. Duis ornare maximus posuere. Aliquam lobortis mauris quis sem malesuada, id convallis magna finibus. Nullam aliquam non eros a mattis. Duis quis augue vitae est sodales eleifend et tincidunt dui. Praesent lobortis lobortis eros, id rhoncus tellus efficitur at. Sed eget magna maximus nisi fringilla condimentum cursus in lectus. Cras viverra augue vel dui congue commodo. Vivamus sed euismod lorem. Etiam urna leo, pellentesque sit amet neque sit amet, vehicula tempus dui. Curabitur laoreet sodales malesuada.
      
    p#arialRzwiText.
      RZWI ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin leo tincidunt ipsum tempor, et sodales mauris auctor. Proin mattis ligula quis ligula pretium mattis. Duis ornare maximus posuere. Aliquam lobortis mauris quis sem malesuada, id convallis magna finibus. Nullam aliquam non eros a mattis. Duis quis augue vitae est sodales eleifend et tincidunt dui. Praesent lobortis lobortis eros, id rhoncus tellus efficitur at. Sed eget magna maximus nisi fringilla condimentum cursus in lectus. Cras viverra augue vel dui congue commodo. Vivamus sed euismod lorem. Etiam urna leo, pellentesque sit amet neque sit amet, vehicula tempus dui. Curabitur laoreet sodales malesuada.
      
    p#arialSpuiText.
      Spui ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin leo tincidunt ipsum tempor, et sodales mauris auctor. Proin mattis ligula quis ligula pretium mattis. Duis ornare maximus posuere. Aliquam lobortis mauris quis sem malesuada, id convallis magna finibus. Nullam aliquam non eros a mattis. Duis quis augue vitae est sodales eleifend et tincidunt dui. Praesent lobortis lobortis eros, id rhoncus tellus efficitur at. Sed eget magna maximus nisi fringilla condimentum cursus in lectus. Cras viverra augue vel dui congue commodo. Vivamus sed euismod lorem. Etiam urna leo, pellentesque sit amet neque sit amet, vehicula tempus dui. Curabitur laoreet sodales malesuada.
      
    p#arialAgriText.
      Agri ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin leo tincidunt ipsum tempor, et sodales mauris auctor. Proin mattis ligula quis ligula pretium mattis. Duis ornare maximus posuere. Aliquam lobortis mauris quis sem malesuada, id convallis magna finibus. Nullam aliquam non eros a mattis. Duis quis augue vitae est sodales eleifend et tincidunt dui. Praesent lobortis lobortis eros, id rhoncus tellus efficitur at. Sed eget magna maximus nisi fringilla condimentum cursus in lectus. Cras viverra augue vel dui congue commodo. Vivamus sed euismod lorem. Etiam urna leo, pellentesque sit amet neque sit amet, vehicula tempus dui. Curabitur laoreet sodales malesuada.
      
    p#arialAllText.
      All ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin leo tincidunt ipsum tempor, et sodales mauris auctor. Proin mattis ligula quis ligula pretium mattis. Duis ornare maximus posuere. Aliquam lobortis mauris quis sem malesuada, id convallis magna finibus. Nullam aliquam non eros a mattis. Duis quis augue vitae est sodales eleifend et tincidunt dui. Praesent lobortis lobortis eros, id rhoncus tellus efficitur at. Sed eget magna maximus nisi fringilla condimentum cursus in lectus. Cras viverra augue vel dui congue commodo. Vivamus sed euismod lorem. Etiam urna leo, pellentesque sit amet neque sit amet, vehicula tempus dui. Curabitur laoreet sodales malesuada.
    
    ul#arialNav
      li(onClick="systemView('arialOverstorts')")#arialOverstortsBtn Overstorten
      li(onClick="systemView('arialRzwi')")#arialRzwiBtn RZWI
      li(onClick="systemView('arialSpui')")#arialSpuiBtn Spui
      li(onClick="systemView('arialAgri')")#arialAgriBtn Landbouw
      li(onClick="systemView('arialAll')")#arialAllBtn Alles