section#uitspoeling.page.left.bigger-padding
  .three-col.left.standard-padding
    h1 Uitspoeling
    p.
      Als het regent stroomt water via het oppervlak naar beken, sloten, rivieren uiteindelijk naar zee. Materiaal op de oppervlakte van parkeerplaatsen, weilanden, industrie terreinen ligt komt dan in het watersysteem. Bepaalde typen grondgebruik hebben kenmerkende profielen. Zo komen uit industrie gebieden met name chemicaliën ,uit de landbouw nutriënten, en in de stad drijfvuil en bacteriën.
    p.
      Hier zie je verhoudingsgewijs de grondgebruiken binnen het waterschap van Amstel, Gooi, Vecht, waartoe Amsterdam behoort.
  .three-col-two.right
    img(src="public/images/uitspoeling.jpg")