section#uitspoeling.page.left.bigger-padding
  .three-col.left.standard-padding
    h1 Uitspoeling & grondgebruik
    p.
      Als het regent stroomt water via het oppervlak naar beken, sloten, rivieren en uiteindelijk naar zee. Materiaal op de oppervlakte van parkeerplaatsen, weilanden, industrieterreinen ligt komt dan in het watersysteem. Bepaalde types grondgebruik hebben kenmerkende profielen. Zo komen uit industriegebieden met name chemicaliën, uit de landbouw nutriënten en in de stad drijfvuil en bacteriën.
    p.
      Hier zie je verhoudingsgewijs de grondgebruiken binnen het Waterschap Amstel, Gooi en Vecht, waartoe Amsterdam behoort.  Amstel, Gooi, Vecht, waartoe Amsterdam behoort.
    img.pieImage(src="public/images/pie.jpg")
  .three-col-two.right.small-padding
    img(src="public/images/uitspoeling.jpg")