section#waterkwaliteit.left.bigger-padding
  .three-col.right
    h1 Biodiversiteit
    p.
      Zijn de grachten nu schoon? De afgelopen decennia is door een hele reeks gebeurtenissen de waterkwaliteit verbeterd in het stroomgebied van de Rijn en in Amsterdam. Van internationale lozingsverdragen tot het verplaatsen van rioolwater zuiveringsinstallaties tot het aansluiten van woonboten op het riool.
    p.
      Metingen in de Rijn aan de grens van Nederland tonen toegevoegde zuurstof waardes en een toename in biodiversiteit, die in de jare ‘70 een diepte punt behaalde.
    p.
      Deze nieuwe condities bieden nieuwe kansen, maar ook verantwoordelijkheden om de positieve tendens door te zetten en gebruiken te behouden. 
    
    #qualityTextContainer
      #bacterien-text
        h2.gamma bacterien
        p.
          (stedelijk, achterland, industrie)
        p.
          Bacteriën ( b.v. E.coli, entrokokken), virussen en protozoa (b.v.  Giardia,Cryptosporydium) kunnen in het water voorkomen. Ze  kunnen stank, huidirritatie en ziektes veroorzaken. De hoofdbronnen van deze verontreinigingen zijn riooloverstorten, de overloop van rioolwaterzuiveringsinstallaties, en dierlijke kadavers en uitwerpselen. Bij zware lading is zwemmen af te raden.
      #drijfvuil-text
        h2.gamma drijfvuil
        p.
          (stedelijk, achterland, industrie)
        p.
          Bacteriën ( b.v. E.coli, entrokokken), virussen en protozoa (b.v.  Giardia,Cryptosporydium) kunnen in het water voorkomen. Ze  kunnen stank, huidirritatie en ziektes veroorzaken. De hoofdbronnen van deze verontreinigingen zijn riooloverstorten, de overloop van rioolwaterzuiveringsinstallaties, en dierlijke kadavers en uitwerpselen. Bij zware lading is zwemmen af te raden.
      #chemisch-text
        h2.gamma chemisch
        p.
          (stedelijk, achterland, industrie)
        p.
          Bacteriën ( b.v. E.coli, entrokokken), virussen en protozoa (b.v.  Giardia,Cryptosporydium) kunnen in het water voorkomen. Ze  kunnen stank, huidirritatie en ziektes veroorzaken. De hoofdbronnen van deze verontreinigingen zijn riooloverstorten, de overloop van rioolwaterzuiveringsinstallaties, en dierlijke kadavers en uitwerpselen. Bij zware lading is zwemmen af te raden.
      #zuurstof-text
        h2.gamma zuurstof
        p.
          (stedelijk, achterland, industrie)
        p.
          Bacteriën ( b.v. E.coli, entrokokken), virussen en protozoa (b.v.  Giardia,Cryptosporydium) kunnen in het water voorkomen. Ze  kunnen stank, huidirritatie en ziektes veroorzaken. De hoofdbronnen van deze verontreinigingen zijn riooloverstorten, de overloop van rioolwaterzuiveringsinstallaties, en dierlijke kadavers en uitwerpselen. Bij zware lading is zwemmen af te raden.
      #nutrienten-text
        h2.gamma nutrienten
        p.
          (stedelijk, achterland, industrie)
        p.
          Bacteriën ( b.v. E.coli, entrokokken), virussen en protozoa (b.v.  Giardia,Cryptosporydium) kunnen in het water voorkomen. Ze  kunnen stank, huidirritatie en ziektes veroorzaken. De hoofdbronnen van deze verontreinigingen zijn riooloverstorten, de overloop van rioolwaterzuiveringsinstallaties, en dierlijke kadavers en uitwerpselen. Bij zware lading is zwemmen af te raden.#bacterien-text
      #sediment-text
        h2.gamma sediment
        p.
          (stedelijk, achterland, industrie)
        p.
          Bacteriën ( b.v. E.coli, entrokokken), virussen en protozoa (b.v.  Giardia,Cryptosporydium) kunnen in het water voorkomen. Ze  kunnen stank, huidirritatie en ziektes veroorzaken. De hoofdbronnen van deze verontreinigingen zijn riooloverstorten, de overloop van rioolwaterzuiveringsinstallaties, en dierlijke kadavers en uitwerpselen. Bij zware lading is zwemmen af te raden.#bacterien-text
      
      #achterland-text
        h2.gamma achterland
        p.
          (stedelijk, achterland, industrie)
        p.
          Bacteriën ( b.v. E.coli, entrokokken), virussen en protozoa (b.v.  Giardia,Cryptosporydium) kunnen in het water voorkomen. Ze  kunnen stank, huidirritatie en ziektes veroorzaken. De hoofdbronnen van deze verontreinigingen zijn riooloverstorten, de overloop van rioolwaterzuiveringsinstallaties, en dierlijke kadavers en uitwerpselen. Bij zware lading is zwemmen af te raden.#bacterien-text
          
      
      #landbouw-text
        h2.gamma landbouw
        p.
          (stedelijk, achterland, industrie)
        p.
          Bacteriën ( b.v. E.coli, entrokokken), virussen en protozoa (b.v.  Giardia,Cryptosporydium) kunnen in het water voorkomen. Ze  kunnen stank, huidirritatie en ziektes veroorzaken. De hoofdbronnen van deze verontreinigingen zijn riooloverstorten, de overloop van rioolwaterzuiveringsinstallaties, en dierlijke kadavers en uitwerpselen. Bij zware lading is zwemmen af te raden.#bacterien-text
          
      
      #industrie-text
        h2.gamma industrie
        p.
          (stedelijk, achterland, industrie)
        p.
          Bacteriën ( b.v. E.coli, entrokokken), virussen en protozoa (b.v.  Giardia,Cryptosporydium) kunnen in het water voorkomen. Ze  kunnen stank, huidirritatie en ziektes veroorzaken. De hoofdbronnen van deze verontreinigingen zijn riooloverstorten, de overloop van rioolwaterzuiveringsinstallaties, en dierlijke kadavers en uitwerpselen. Bij zware lading is zwemmen af te raden.#bacterien-text
          
      
      #stedelijk-text
        h2.gamma stedelijk
        p.
          (stedelijk, achterland, industrie)
        p.
          Bacteriën ( b.v. E.coli, entrokokken), virussen en protozoa (b.v.  Giardia,Cryptosporydium) kunnen in het water voorkomen. Ze  kunnen stank, huidirritatie en ziektes veroorzaken. De hoofdbronnen van deze verontreinigingen zijn riooloverstorten, de overloop van rioolwaterzuiveringsinstallaties, en dierlijke kadavers en uitwerpselen. Bij zware lading is zwemmen af te raden.#bacterien-text
      
      #kust-text
        h2.gamma kust
        p.
          (stedelijk, achterland, industrie)
        p.
          Bacteriën ( b.v. E.coli, entrokokken), virussen en protozoa (b.v.  Giardia,Cryptosporydium) kunnen in het water voorkomen. Ze  kunnen stank, huidirritatie en ziektes veroorzaken. De hoofdbronnen van deze verontreinigingen zijn riooloverstorten, de overloop van rioolwaterzuiveringsinstallaties, en dierlijke kadavers en uitwerpselen. Bij zware lading is zwemmen af te raden.#bacterien-text
  .three-col-two.svgContainerRight.right
    .qualityContainer
      include ../images/kwaliteit.svg