section#waterkwaliteit.left.bigger-padding
  .three-col.right
    h1 Waterkwaliteit
    p.
      Verschillende soorten grondgebruik veroorzaken kenmerkende soorten verontreinigingen. Wanneer een rivier langs een type grondgebruik stroomt kunnen bepaalde soorten vervuiling worden verwacht.
    p.
      Hierdoor kan dus ook gericht actie worden ondernomen om deze type verontreiniging te voorkomen. In het nevenstaande diagram worden per type grondgebruik en verontreiniging aangetoond hoe zij in verband met elkaar staan en wat hiervan de gevolgen zijn. 
    
    #qualityTextContainer
      #bacterien-text
        h2.gamma bacterien
        p.
          Schadeilijke bacteriën ( b.v. E.coli, enterokokken), virussen en protozoa (b.v.  Giardia,Cryptosporydium) kunnen in het water voorkomen. Ze  kunnen stank, huidirritatie en ziekten veroorzaken. De hoofdbronnen van deze verontreinigingen zijn riooloverstorten, de overloop van rioolwaterzuiveringsinstallaties, dierlijke kadavers en uitwerpselen. Bij zware lading is zwemmen af te raden.
      #drijfvuil-text
        h2.gamma drijfvuil
        p.
          Drijfvuil is schadelijk voor dieren, hinderlijk voor het oog,en het kan lichttoetreding belemmeren waardoor natuurlijke zuiveringsprocessen worden verhinderd. 
        p.
          Gelukkig is het relatief simpel te voorkomen, indien mensen afval niet in het water of op straat gooien. Verschillende initiatieven bestaan al om mensen te betrekken bij het schoonmaken van de grachten, rivieren en kanalen. Daarnaast wordt er structureel met afvalboten schoongemaakt. 
      #chemisch-text
        h2.gamma CHEMICALIËN
        p.
          Tot deze categorie behoren metalen, olie, vet, giftige stoffen en organische verbindingen. Vervuiling met deze stoffen komt doorgaans door uitspoeling in stedelijke en industriële gebieden. Gelekte olie, metalen en rubber van auto’s spoelen na regenval uit in het oppervlaktewater. In grote hoeveelheden kan dit leiden tot vergiftiging van mens en dier. Locatie specifieke oplossingen zoals filterende bermen en wetgeving kunnen deze verontreinigingen verminderen.
      #zuurstof-text
        h2.gamma zuurstof
        p.
          Opgeloste zuurstof in water is nodig voor aquatische dieren en planten en daarmee een goede indicator van waterkwaliteit. Bij lage waardes komt vis- en plantensterfte voor.  Het zuurstofgehalte neemt af door fosfaten en nitraten, met name door bemesting in de landbouw en door temperatuurstijging. Waardes tussen  7 en 15mg/l komen in een gezond watersysteem voor.
      #nutrienten-text
        h2.gamma nutrienten & pesticiden 
        p.
          Deze verontreinigingen komen hoofdzakelijk uit de landbouw door uitspoeling van bemeste en met pesticiden besproeide gewassen.
          Nutriënten-verontreiniging leidt tot een vicieuze cirkel van o.a. algengroei en zuurstofonttrekking. Algen stoppen lichttoetreding in het water, nemen zuurstof op en belemmeren de fotosynthese van andere waterplanten. Dit proces wordt eutrofiëring genoemd en lijdt uiteindelijk tot een sterke afname van de biodiversiteit. 
      #sediment-text
        h2.gamma sediment
        p.
          Sedimentatie-verontreiniging komt door snel stromend water waardoor deeltjes in water omwoelen en erosie plaatsvind. Dit zorgt voor een grotere troebelheid, die de lichttoetreding weer vermindert. Omwoeling wordt veroorzaakt door turbulentie van de schroeven van grotere boten, maar door bodem wroetende vissen zoals karpers. Een bijkomende probleem van omwoeling ontstaat wanneer de bodem verontreinigd is. Chemicaliën en nutriënten komen dan weer vrij. 
      #achterland-text
        h2.gamma.groundUse achterland
        p.
          In natuurgebieden krijgt water in het algemeen de kans om in kwaliteit te verbeteren. Bacteriën sterven af en nutriënten, chemicaliën en drijfvuil worden uitgedund.
        p.
          Dierlijke uitwerpselen en kadavers kunnen echter ook vervuilingsbronnen vormen. Natuurgebieden zijn dus geen garantie voor een goede waterkwaliteit, maar in het algemeen is dit waar water de kans krijgt om zich op een natuurlijke manier te zuiveren. 
      #landbouw-text
        h2.gamma.groundUse landbouw
        p.
          Pesticiden, nutriënten (met name stikstof en fosfaat) komen in de Amstel, Gooi en Vecht terecht door de uitspoeling van poldersloten die op de rivieren afwateren. 
        p.
          Er worden verschillende maatregelen genomen om dit te verminderen, zoals het behouden van een filterende berm tussen weilanden en de sloot. Ook het verminderen van hulpstoffen heeft een positieve uitwerking. 
      #industrie-text
        h2.gamma.groundUse industrie
        p.
          Industriegebieden zorgen door lozing, bodemverontreiniging en uitspoeling. Aan lozing zitten steeds meer restricties en voorbehandeling is vaak een eis. Dit is echter niet zonder gebreken. Daarnaast spoelen terreinen na regen uit op het water met chemicaliën, zware metalen en andere hinderlijke stoffen. Wetgeving en plek-specifieke oplossingen kunnen dit verminderen. 
      #stedelijk-text
        h2.gamma.groundUse stedelijk
        p.
          Steden zijn dynamisch en divers. Verontreiniging kan dus van allerlei bronnen komen, van uitspoeling to bodemverontreiniging tot lozing. In bijna alle steden is het rioolnetwerk een bijkomende bron van verontreiniging. Bij extreme regenval overschrijden rioleringen hun capaciteit en moet het water ergens uitvloeien. Dit gebeurt vaak in het oppervlaktewater. Afhankelijk van de robuustheid van het netwerk komen dergelijke overstort-situaties voor.
      #kust-text
        h2.gamma.groundUse kust
        p.
          Bij de kust komen zoet en zout water samen. Bij een zware nutriënt lading kan schadelijk algenbloei voorkomen, waardoor bijvoorbeeld schaaldieren giftig worden. Ook bacteriën en een hoge watertemperatuur kunnen dergelijke problemen verergeren.
        p.
          De duinen hebben juist een filterende functie en kunnen zelfs natuurlijk water filteren tot drinkwaterkwaliteit. In Amsterdam is de hoofdbron van drinkwater water uit de Rijn dat in de Kennemerduinen wordt gefilterd. 
  
  .three-col-two.svgContainerRight.right
    .qualityContainer
      include ../images/kwaliteit.svg