section#waterkwaliteit.left.bigger-padding
  .three-col.right
    h1 Waterkwaliteit
    p.
      Verschillende soorten landgebruik veroorzaken verschillende soorten verontreinigingen. Wanneer een rivier langs dergelijke gebieden stroomt kunnen bepaalde soorten vervuiling worden verwacht.
    p.
      Hierdoor kunnen echter ook gericht handelingen worden genomen om deze verontreiniging te voorkomen. In het nevenstaande diagram worden per landgebruik en landgebruik aangetoond hoe zij in verband met elkaar staan en wat hiervan de gevolgen zijn. 
    
    #qualityTextContainer
      #bacterien-text
        h2.gamma bacterien
        p.
          (stedelijk, achterland, industrie)
        p.
          Bacteriën ( b.v. E.coli, entrokokken), virussen en protozoa (b.v.  Giardia,Cryptosporydium) kunnen in het water voorkomen. Ze  kunnen stank, huidirritatie en ziektes veroorzaken. De hoofdbronnen van deze verontreinigingen zijn riooloverstorten, de overloop van rioolwaterzuiveringsinstallaties, en dierlijke kadavers en uitwerpselen. Bij zware lading is zwemmen af te raden.
      #drijfvuil-text
        h2.gamma drijfvuil
        p.
          (stedelijk, achterland, industrie)
        p.
          Bacteriën ( b.v. E.coli, entrokokken), virussen en protozoa (b.v.  Giardia,Cryptosporydium) kunnen in het water voorkomen. Ze  kunnen stank, huidirritatie en ziektes veroorzaken. De hoofdbronnen van deze verontreinigingen zijn riooloverstorten, de overloop van rioolwaterzuiveringsinstallaties, en dierlijke kadavers en uitwerpselen. Bij zware lading is zwemmen af te raden.
      #chemisch-text
        h2.gamma chemisch
        p.
          (stedelijk, achterland, industrie)
        p.
          Bacteriën ( b.v. E.coli, entrokokken), virussen en protozoa (b.v.  Giardia,Cryptosporydium) kunnen in het water voorkomen. Ze  kunnen stank, huidirritatie en ziektes veroorzaken. De hoofdbronnen van deze verontreinigingen zijn riooloverstorten, de overloop van rioolwaterzuiveringsinstallaties, en dierlijke kadavers en uitwerpselen. Bij zware lading is zwemmen af te raden.
      #zuurstof-text
        h2.gamma zuurstof
        p.
          (stedelijk, achterland, industrie)
        p.
          Bacteriën ( b.v. E.coli, entrokokken), virussen en protozoa (b.v.  Giardia,Cryptosporydium) kunnen in het water voorkomen. Ze  kunnen stank, huidirritatie en ziektes veroorzaken. De hoofdbronnen van deze verontreinigingen zijn riooloverstorten, de overloop van rioolwaterzuiveringsinstallaties, en dierlijke kadavers en uitwerpselen. Bij zware lading is zwemmen af te raden.
      #nutrienten-text
        h2.gamma nutrienten
        p.
          (stedelijk, achterland, industrie)
        p.
          Bacteriën ( b.v. E.coli, entrokokken), virussen en protozoa (b.v.  Giardia,Cryptosporydium) kunnen in het water voorkomen. Ze  kunnen stank, huidirritatie en ziektes veroorzaken. De hoofdbronnen van deze verontreinigingen zijn riooloverstorten, de overloop van rioolwaterzuiveringsinstallaties, en dierlijke kadavers en uitwerpselen. Bij zware lading is zwemmen af te raden.
      #sediment-text
        h2.gamma sediment
        p.
          (stedelijk, achterland, industrie)
        p.
          Bacteriën ( b.v. E.coli, entrokokken), virussen en protozoa (b.v.  Giardia,Cryptosporydium) kunnen in het water voorkomen. Ze  kunnen stank, huidirritatie en ziektes veroorzaken. De hoofdbronnen van deze verontreinigingen zijn riooloverstorten, de overloop van rioolwaterzuiveringsinstallaties, en dierlijke kadavers en uitwerpselen. Bij zware lading is zwemmen af te raden.
      #achterland-text
        h2.gamma achterland
        p.
          (stedelijk, achterland, industrie)
        p.
          Bacteriën ( b.v. E.coli, entrokokken), virussen en protozoa (b.v.  Giardia,Cryptosporydium) kunnen in het water voorkomen. Ze  kunnen stank, huidirritatie en ziektes veroorzaken. De hoofdbronnen van deze verontreinigingen zijn riooloverstorten, de overloop van rioolwaterzuiveringsinstallaties, en dierlijke kadavers en uitwerpselen. Bij zware lading is zwemmen af te raden.
      #landbouw-text
        h2.gamma landbouw
        p.
          (stedelijk, achterland, industrie)
        p.
          Bacteriën ( b.v. E.coli, entrokokken), virussen en protozoa (b.v.  Giardia,Cryptosporydium) kunnen in het water voorkomen. Ze  kunnen stank, huidirritatie en ziektes veroorzaken. De hoofdbronnen van deze verontreinigingen zijn riooloverstorten, de overloop van rioolwaterzuiveringsinstallaties, en dierlijke kadavers en uitwerpselen. Bij zware lading is zwemmen af te raden.
      #industrie-text
        h2.gamma industrie
        p.
          (stedelijk, achterland, industrie)
        p.
          Bacteriën ( b.v. E.coli, entrokokken), virussen en protozoa (b.v.  Giardia,Cryptosporydium) kunnen in het water voorkomen. Ze  kunnen stank, huidirritatie en ziektes veroorzaken. De hoofdbronnen van deze verontreinigingen zijn riooloverstorten, de overloop van rioolwaterzuiveringsinstallaties, en dierlijke kadavers en uitwerpselen. Bij zware lading is zwemmen af te raden.
      #stedelijk-text
        h2.gamma stedelijk
        p.
          (stedelijk, achterland, industrie)
        p.
          Bacteriën ( b.v. E.coli, entrokokken), virussen en protozoa (b.v.  Giardia,Cryptosporydium) kunnen in het water voorkomen. Ze  kunnen stank, huidirritatie en ziektes veroorzaken. De hoofdbronnen van deze verontreinigingen zijn riooloverstorten, de overloop van rioolwaterzuiveringsinstallaties, en dierlijke kadavers en uitwerpselen. Bij zware lading is zwemmen af te raden.
      #kust-text
        h2.gamma kust
        p.
          (stedelijk, achterland, industrie)
        p.
          Bacteriën ( b.v. E.coli, entrokokken), virussen en protozoa (b.v.  Giardia,Cryptosporydium) kunnen in het water voorkomen. Ze  kunnen stank, huidirritatie en ziektes veroorzaken. De hoofdbronnen van deze verontreinigingen zijn riooloverstorten, de overloop van rioolwaterzuiveringsinstallaties, en dierlijke kadavers en uitwerpselen. Bij zware lading is zwemmen af te raden.
  
  .three-col-two.svgContainerRight.right
    .qualityContainer
      include ../images/kwaliteit.svg
      .p.big-padding (Klik op de iconen voor meer informatie)